@using AngleSharp.Common
@using Orientation = Radzen.Orientation
@using Serilog
@using ApexCharts
@inherits UpdatableComponent

@implements IDisposable

<div class="flex flex-col items-center justify-between">
    <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
            <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center">
                <RadzenText Style="font-weight: bold">Production</RadzenText>
                <RadzenStack AlignItems="AlignItems.Center">
                    <RadzenText>Outstanding:</RadzenText>
                    <RadzenText Style="color:red" TextStyle="TextStyle.H3">@_outstandingRedCardCountProduction</RadzenText>
                </RadzenStack>
                <RadzenStack AlignItems="AlignItems.Center">
                    <RadzenText>Completed:</RadzenText>
                    <RadzenText Style="color:limegreen" TextStyle="TextStyle.H3">@_completedRedCardProduction</RadzenText>
                </RadzenStack>
                <RadzenStack AlignItems="AlignItems.Center">
                    <RadzenText>Average:</RadzenText>
                    <RadzenText Style="color:red" TextStyle="TextStyle.H3">@_averageCardProduction</RadzenText>
                </RadzenStack>
            </RadzenStack>
            <RadzenStack AlignItems="AlignItems.Center">
                    <RadzenText Style="font-weight: bold">Redline</RadzenText>
                    <RadzenStack AlignItems="AlignItems.Center">
                        <RadzenText>Outstanding:</RadzenText>
                        <RadzenText Style="color:red" TextStyle="TextStyle.H3">@_outstandingRedCardCountRedline</RadzenText>
                    </RadzenStack>
                    <RadzenStack AlignItems="AlignItems.Center">
                        <RadzenText>Completed:</RadzenText>
                        <RadzenText Style="color:limegreen" TextStyle="TextStyle.H3">@_completedRedCardCountRedline</RadzenText>
                    </RadzenStack>
                    <RadzenStack AlignItems="AlignItems.Center">
                        <RadzenText>Average:</RadzenText>
                        <RadzenText Style="color:red" TextStyle="TextStyle.H3">@_averageCardRedline</RadzenText>
                    </RadzenStack>
                </RadzenStack>
            </RadzenStack>
        <ApexChart
            TItem="DataItem"
            Height="500"
            Width="230"
            @ref="@_typeChart"
            Options="@_options"
            OnDataPointSelection="DataClicked">
            <ApexPointSeries
                TItem="DataItem"
                Items="@_redCardTypeData"
                XValue="item => ((RedFlagIssue)item.Key).CleanName()"
                YValue="item => item.Value" 
                SeriesType="SeriesType.Donut"
                OrderByDescending="item => item.Y ?? 0"
                PointColor="item => _colorLookUp[(RedFlagIssue)item.Key]"/>
        </ApexChart>
    </RadzenStack>
</div>

@code {
    [Inject]
    public IProductionService ProductionService { get; set; } = default!;

    [Inject]
    public StatsService StatsService { get; set; } = default!;
    
    [Parameter, EditorRequired]
    public DateTime MinDate { get; set; }
    
    [Parameter, EditorRequired]
    public DateTime MaxDate { get; set; }

    public EventHandler<RedFlagIssue?>? IssueSelected;
    RedFlagIssue? _lastSelectedIssue;
    Dictionary<string, RedFlagIssue> _stringToIssue = [];
    Dictionary<RedFlagIssue, string> _colorLookUp = [];

    ApexChart<DataItem> _typeChart = default!;
    ApexChartOptions<DataItem> _options = new ApexChartOptions<DataItem>();

    int _outstandingRedCardCountProduction = 0;
    int _completedRedCardProduction = 0;
    decimal _averageCardProduction = 0;
    
    int _outstandingRedCardCountRedline = 0;
    int _completedRedCardCountRedline = 0;
    decimal _averageCardRedline = 0;
    
    IEnumerable<DataItem> _redCardTypeData = [];
    
    public override void Update()
    {
        base.Update();
        GetCountData();
        InvokeAsync(async () =>
                    {
                        StateHasChanged();
                        await _typeChart.UpdateOptionsAsync(true, true, false);
                        await _typeChart.UpdateSeriesAsync();

                        if (_lastSelectedIssue.HasValue)
                        {
                            int element = 0;

                            foreach (var item in _typeChart.Series.First().Items)
                            {
                                if ((RedFlagIssue)item.Key == _lastSelectedIssue.Value && item.Value > 0)
                                {
                                    await _typeChart.ToggleDataPointSelectionAsync(0, element);
                                    break;
                                }

                                element++;
                            }
                        }
                    });
    }

    public void Dispose()
    {
        StatsService.CardFilterOptions.RedFlagIssues = Enum.GetValues<RedFlagIssue>();
        
        _typeChart.Dispose();
    }

    protected override void OnInitialized()
    {
        _options.Legend = new Legend()
        {
            Position = ApexCharts.LegendPosition.Bottom
        };

        foreach (RedFlagIssue issue in Enum.GetValues<RedFlagIssue>())
        {
            _stringToIssue.Add(issue.CleanName(), issue);
            _colorLookUp.Add(issue, issue.ToChartColor());
        }
        
        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            GetCountData();
            StateHasChanged();
        }
        base.OnAfterRender(firstRender);
    }

    void GetCountData()
    {
        List<RedCard> allRedCards = ProductionService.GetRedCards().ToList();

        allRedCards = allRedCards.Where(x => StatsService.SelectedVanType == x.VanType && 
                                             StatsService.CardFilterOptions.CardAreaOfOrigins.Contains(x.AreaOfOrigin) &&
                                             x.CreationDate.HasValue &&
                                             x.CreationDate.Value.LocalDateTime.Date >= MinDate.Date &&
                                             x.CreationDate.Value.LocalDateTime.Date <= MaxDate.Date)
                                 .ToList();

        var prodCards 
            = allRedCards.Where(x => 
                ProductionService.ProductionVans[x.BoardName.ToLower()].PositionHistory.InProductionBeforeDate(MaxDate.Date)).ToList();

        var redLineCards 
            = allRedCards.Where(x => 
                !ProductionService.ProductionVans[x.BoardName.ToLower()].PositionHistory.InProductionBeforeDate(MaxDate.Date) &&
                (ProductionService.ProductionVans[x.BoardName.ToLower()].HandoverState != HandoverState.HandedOver &&
                ProductionService.ProductionVans[x.BoardName.ToLower()].HandoverStateLastUpdated > MaxDate.Date) 
                || ProductionService.ProductionVans[x.BoardName.ToLower()].HandoverState == HandoverState.UnhandedOver).ToList();

        _outstandingRedCardCountProduction
            = prodCards.Count(x =>
                              x.CardStatus != CardStatus.Completed && 
                              StatsService.CardFilterOptions.RedFlagIssues.Contains(x.RedFlagIssue));
        
        _outstandingRedCardCountRedline
            = redLineCards.Count(x =>
                              x.CardStatus != CardStatus.Completed && 
                              StatsService.CardFilterOptions.RedFlagIssues.Contains(x.RedFlagIssue));
        
        _completedRedCardProduction 
            = prodCards.Count(x =>
                x.CardStatus == CardStatus.Completed && 
                StatsService.CardFilterOptions.RedFlagIssues.Contains(x.RedFlagIssue));
        
        _completedRedCardCountRedline 
            = redLineCards.Count(x =>
                x.CardStatus == CardStatus.Completed && 
                StatsService.CardFilterOptions.RedFlagIssues.Contains(x.RedFlagIssue));

        _redCardTypeData = allRedCards.RedCardByTypeData();

        int vansInProd =
            ProductionService.ProductionVans.Values.Count(x =>
              x.Position.IsInProduction &&
              x.PositionHistory.InProductionBeforeDate(MaxDate.Date) &&
              x.PositionHistory.EnteredProductionAfter(MinDate.Date));
        
        int vansPastRedline = ProductionService.ProductionVans.Values.Count(x => 
            x.PositionHistory.InProductionBeforeDate(MaxDate.Date) && 
            (x.HandoverState != HandoverState.HandedOver &&
            x.HandoverStateLastUpdated > MaxDate.Date) ||
            x.HandoverState == HandoverState.UnhandedOver);
        
        if (vansInProd == 0)
            _averageCardProduction = 0;
        else
            _averageCardProduction = System.Math.Round((decimal)prodCards.Count() / (decimal)vansInProd, 1);

        if (vansPastRedline == 0)
            _averageCardRedline = 0;
        else
            _averageCardRedline = System.Math.Round((decimal)redLineCards.Count() / (decimal)vansPastRedline, 1);
    }

    private void DataClicked(SelectedData<DataItem> item)
    {
        var newIssue = _stringToIssue[(string)item.DataPoint.X];
        
        if(_lastSelectedIssue.HasValue && _lastSelectedIssue == newIssue)
        {
            _lastSelectedIssue = null;
            StatsService.CardFilterOptions.RedFlagIssues = _lastSelectedIssue is null ? Enum.GetValues<RedFlagIssue>() : [_lastSelectedIssue.Value!];
            
            foreach (RedFlagIssue issue in Enum.GetValues<RedFlagIssue>())
            {
                _colorLookUp[issue] = issue.ToChartColor();
            }
            
            IssueSelected?.Invoke(this, null);
        }

        else
        {
            _lastSelectedIssue = newIssue;
            StatsService.CardFilterOptions.RedFlagIssues = [newIssue];
            
            foreach (RedFlagIssue issue in Enum.GetValues<RedFlagIssue>())
            {
                 _colorLookUp[issue] =  newIssue == issue ? issue.ToChartColor() : "#808080";
            }
            
            IssueSelected?.Invoke(this, newIssue);
        }
        
        Log.Logger.Debug("{issueType} selected for red card component.", _lastSelectedIssue);
    }
}
